.image-container {
  margin-bottom: 50px;
}

.image-descr {
  height: 250px;
  width: auto;
  text-align: left;
}

.images {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 100px;
  color: navy;
}

.live-stream {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.col-sm-4 {
  margin-top: 100px;
}

.p {
  margin: 0px;
}
